<nav class = "navbar bg-light bg-outline-secondary navbar-dark">
    <div class = "container-fluid">

        <a class = "navbar-brand" style = "color : black" href="">Products</a>   
                            
        <div class = "nav-item d-flex">
            
            <a class = "btn" *ngIf = "isLoggedIn">{{userName}}</a>

            <button *ngIf = "isLoggedIn" class = "btn btn-dark ms-2" (click) = "logout()">Logout</button>
            
            <button *ngIf="!isLoggedIn" class="btn btn-dark ms-2" [routerLink] = "'login'" >Login</button>
        </div>
                   
    </div>    
</nav>


